.row {
	margin-bottom: 20px;
}
[class*="col-"]{
	text-align: center;
}
img {
	width: 149px;
	height: 182px;
}
h3, h1 {
	color: #6fb4d1;
}
h1 {
	float: left;
	font-size: 26px;
}
h3 {
	font-size: 20px;
}